*{
  margin: 0;
  padding: 0;
}
body{
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
}
 .attribution { 
  font-size: 11px; text-align: center; 
}
    
  .attribution a { 
    color: hsl(228, 45%, 44%); 
    }
    .blog-container{
      background-color: hsl(0, 0%, 100%);
      border: 1px solid black;
      border-radius: 15px;
      box-shadow: 5px 5px 3px black;
      width: 40%;
      height: 350px;
      flex-direction: column;
      display: flex;
      align-items: center;
    }
    .illustration-img{
      width: 230px;
      margin-top: 10px;
      border: 1px hidden;
      border-radius: 9px;
    }
    .avatar-img{
      width: 1.5rem;
    }
    .learn-container {
      background-color:hsl(47, 88%, 63%);
      color: black;
      padding: 3px;
      border: 1px hidden;
      border-radius: 3px;
    }