*{
  margin: 0;
  padding: 0;
}
body{
  background-color: hsl(47, 88%, 63%);
}
 .attribution { 
  font-size: 11px;
  text-align: center; 
}
    
  .attribution a { 
    color: hsl(228, 45%, 44%); 
    }
    .blog-container{
      background-color: hsl(0, 0%, 100%);
      border: 1px solid black;
      border-radius: 15px;
      box-shadow: 5px 5px 3px black;
      width: 40%;
      height: 370px;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      margin: 0 auto;
    }
    .illustration-img
    {
      width: 230px;
      margin: 0 auto;
      margin-top: 10px;
      border: 1px hidden;
      border-radius: 9px;

    }
    .avatar-img{
      width: 1.5rem;
      margin-right: 10px;
    }
    .learn-container {
      background-color:hsl(47, 88%, 63%);
      color: black;
      padding: 5px;
      border: 1px hidden;
      margin: 10px 0 10px 20px;
      border-radius: 5px;
      font-weight: bold;
    }
    footer{
      margin: 0 auto;
      margin-top: 20px;
      width: fit-content;
    }
    .blog-details{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    h4{
      margin: 15px 0;
    }
    span p{
      color: gray;
      margin-bottom: 15px;
    }
    .blog-bottom-details{
      display: flex;
      align-items: center;
    }